
body {
  margin: 0px;
  overflow: hidden;
  background-color: #AFF7F0;
}

#gameDiv {
  position: absolute;
  top: 0px;
  z-index: -1;
}

#mobilecheckbox {
    transform: scale(1.5);
}

input, button, .sign-up, span {
    font-size: 30px;
}

#signDiv {
    position: relative;
    margin: 10%;
}
